/* main */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #113;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#info,
#controls {
    margin: 10px 0px;
}

/* canvas */

#canvasWrapper {
    position: relative;
    width: 1200px;
    height: 800px;
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #ccc;
}

#canvas1 {
    opacity: 1;
}

#canvas2 {
    opacity: 0;
}

/* controls */

#controls {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
}

input,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background: #445;
    border-radius: 4px;
    text-align: center;
    padding: 2px 0px;
}

input:hover,
select:hover,
button:hover {
    cursor: pointer;
    background-color: #585;
}

#sizeInput {
    width: 40px;
}

button {
    padding: 5px 10px;
}
