* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #113;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > p {
    margin: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #888;
}

canvas {
    background-color: #ccc;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    background: #445;
    color: white;
    padding: 2px;
    margin: 5px;
    border-radius: 4px;
    width: 40px;
    text-align: center;
}
