/* main */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --bgColor: #fff;
    --fontColor: #111;
    --inputColor: #fff;
    --labelColor: #666;
    --transition-duration: 200ms;
    background-color: var(--bgColor);
    color: var(--fontColor);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color var(--transition-duration) linear, color var(--transition-duration) linear;
}

body.dark {
    --bgColor:  #000;
    --fontColor: #eee;
    --inputColor: #444;
    --labelColor: #999;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

canvas {
    display: block;
}

/* modal */

#modal {
    z-index: 100;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 30px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 25px #0008;
    width: min(500px,90vw);
}

h1 {
    font-weight: 500;
    padding: 30px 0px;
    font-size: 40px;
}

#modal a {
    text-decoration: none;
    color: #395;
}

#modal a:hover {
    text-decoration: underline;
}


/* menu */

#menu {
   position: fixed;
   left: 15px;
   top: 15px; 
}

#menu summary {
    list-style: none;
    cursor: pointer;
    z-index: 5;
    font-size: 30px;    
    opacity: 0.6;
}

#menu[open] summary {
    opacity: 1;
}

#menuContent {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

button, input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    box-shadow: 1px 1px 7px #0007;
    text-align: center;
    border-radius: 4px;
}

button {
    background: linear-gradient(130deg,#224,#335);
    color: white;
    padding: 8px;
    cursor: pointer;
    padding: 8px 15px;

}

#menu button {
    width: 48px;
}

button:hover, button:focus-visible {
    background: linear-gradient(130deg,#274,#395);
}

input {
    width: 70px;
    padding: 5px;    
    border-radius: 4px;
    font-size: 20px;
    background-color: var(--inputColor);
    transition: background-color var(--transition-duration) linear;
}

input:hover, input:focus-visible {
    outline: 1px solid var(--fontColor);
}

button.mirror > i {
    transform: scaleX(-1);
}

button > i {
    pointer-events: none;
}

#menu label span {
    display: block;
    font-size: 12px;
    color: var(--labelColor);
    margin-bottom: 5px;
    transition: color var(--transition-duration) linear;
}